body{
    font-family: roboto;
    background-image: linear-gradient(blue,pink);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 150%;
}

ul{
    list-style: none;
    font-size: 0;
}

.opisanie{
    margin: 0 0 0 20px;
}

h2{
    font-size: 55px;
    text-align: center;
    margin-bottom: 50px;
}

img{
    border: 5px black solid;
    width: 300px;
    height: 250px;
}   
img:hover{
    width: 350px;
    height: 300px%;
}

li{
    font-size: 16px;
    width: 25%;
    height: 100%;
    text-align: center;
    margin: 0 50px 20px 0;
    display: inline-block;
}

.verh{
    margin: 5px 10px 50px 10px;
    border: 1px black solid;
    text-align: center;
    background-image: linear-gradient(rgb(36, 192, 36), rgb(223, 20, 223));
    background-repeat: no-repeat;
    background-size: cover;
}